#map {
	height: 20em;
/*/	min-width: 5em;*/
	width: 100%;
}

.contato .endereco p {
	font-style: italic;
}


@media (min-width: 1000px) {
	.contato form {
		width: 49%;
		float: left;
	}

	.contato .endereco {
		float: right;
		width: 49%;
	}
}

