.album ul {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.album li {
    -webkit-flex: auto;
    flex: auto;
    box-sizing: border-box;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    max-width: 45%;
}

.album img {
    width: 100%;
    box-shadow: 0 0 4px #000;
}

.modals {
	display: none;
}

.modals-on {
	display: inline;
}
