body {
    font-family: tahoma, arial, helvetica, sans-serif;
    //max-width: 90%;
    margin: 0 auto; 
    background-color: #574C3C;
    color: #cbc7b3;
}

main {
    float: none;
}

.footer {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

.footer li {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

}

.twitter {
    background-image: url(../img/twitter.png);
}

.facebook {
    background-image: url(../img/fb-circle-40.png);
}

.footer a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.modal-content {
    //border-radius: 50%;
    -webkit-border-radius: 20em !important;
    -moz-border-radius: 20em !important;
    border-radius: 20em !important;
}


.modal-header,
.modal-content {
  background-color: #C0C0C0; /* Old browsers */
  color: #816d4c;
}

.modal-footer,
.modal-body {
  background-color: #D9D5C5; /* Old browsers */
  color: #816d4c;
}

.modal-header  img {
    //float: left;
    width: 100%;
    height: 15em;
    padding-right: 0.5em;
    border-style: none;
}

.modal-body  strong {
    font-weight: bold;
}

.barra-nav {
    background: #c2b280;
    //padding: 1em;
    margin: 0;

    height: 100%;
    width: 90%
    //max-width: 600px;

    position: fixed;
    z-index: 1;
    top: 0;
    left: -90%;

    transition: left 0.3s ease-out;
}

.barra-nav li {
    border-top: solid;
//        color: #000000;
}

.barra-nav li a,
.barra-nav li a:visited,
.barra-nav li a:hover,
.barra-nav li a:active {
    color: #000000;
    text-decoration: none;
}


.menu-abrir {
    border: .2em solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    width: 50px;
    height: 50px;
    color: #FFA07A;
    background: none;
    text-shadow: none;
}
.menu-abrir:hover { 
    background: none;
    color: #FFA07A;
}

.menu-fechar {
    border: .2em solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    width: 50px;
    height: 50px;
    color: rgba(0, 0, 0, 0.3);
    background: none;
    text-shadow: none;
}

.menu-fechar:hover { 
    background: none;
    color: rgba(0, 0, 0, 0.3);
}

.menu-principal li {
    padding: 1em 0;
    width: 100%;
}

.menu {
    display: none;
}

.menu-ativo .barra-nav {
    left: 0;
}

.menu-ativo:after {
    content: "";
    display: block;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: rgba(0,0,0,0.4);
}

.modal .container {
    padding-bottom: 0.5em;
}

.carousel-caption {
    color: #FAFAD2;
}

@media (min-width: 1000px) {
    .menu-abrir,
    .menu-fechar,
    .menu-lbl,
    .barra-nav {
        display: none;
    }
    
    .menu {
            display: -webkit-flex;
            display: flex;
            flex-flow: row wrap;
            align-items: baseline;
            justify-content: space-around;
    }
    
    .menu-item {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        font-size: 1.1em;
        font-weight: bold;
        color: #cbc7b3;
        text-align: center;
        padding: 0.5em;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#554a2b+0,332d1a+100;Olive+3D */
        background: #554a2b; /* Old browsers */
        background: -moz-linear-gradient(top,  #554a2b 0%, #332d1a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #554a2b 0%,#332d1a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  # 0%,#332d1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#554a2b', endColorstr='#332d1a',GradientType=0 ); /* IE6-9 */

    }

}
